body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column; /* Arrange header, main, footer in a column */
    min-height: 100vh; /* Ensure body takes up full viewport height */
}


header {
    background-color: rgb(137, 137, 137);
}

main {
    flex: 1; /* Key: Allow main to grow and take up available space */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
nav ul{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    list-style-type: none;
}
nav a{
    color: #000000;

}

.container {
    background-color: #fff;
    padding: 20px;
    width: 20%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
