<!doctype html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h2>Login</h2>
            <form id="loginForm">
                <label for="username">Username:</label>
                <input type="text" id="username" minlength="7" maxlength="20" placeholder="Username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" minlength="7" maxlength="20" placeholder="password" required>

                <label for="eyecolor">Eyecolor:</label>
                <input type="color" id="color">
                <input type="text" id="colorText" placeholder ="R, G, B"required >

                <label for="birthday">Birthday:</label>
                <input type="number" id="birthday" placeholder="00000000" required>

                <input type="submit" value ="submit"> </submit>
            </form>
        </div>
    </body>
</html>