
</html>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<header>
  <%- include('../partials/header'); %>
</header>

<body>
    
<main>
    <%- include('../partials/registerForm'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>